body{
    background-color: rgb(255, 191, 0);
}

h1, h3, ol li{
    color: purple;
    font-weight: bold;
}

p{
    color: green;
    font-weight: bold;
}

span{
    color: rgb(39, 173, 39);
    text-decoration: underline;
    cursor: pointer;
}

